<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Piskel-clone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="shortcut icon" href="src/view/images/favicon.ico">

  <!-- Draggable && Sortable -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<header class="nav">
  <h1 class="nav-head">Simple Piskel Clone</h1>
</header>
<main class="main_container">
  <div class="working_space">
    <div class="aside_container"></div>
    <div class="frames_box">
      <div class="frames_box-frames"></div>
    </div>
    <div class="canvas_box"></div>
    <div class="right-column"></div>
  </div>
</main>
<footer class="footer"><a  class="landing_href" href="landing.html" title="Landing page">Marina Sevkovich &copy; 2020</a></footer>
</body>
</html>
